[Unit]
Description="A service that starts the NGINX acme companion container"


[Service]
ExecStart=/usr/bin/docker run \
 --name nginx-proxy-acme \
 --volumes-from nginx-proxy \
 --volume /var/run/docker.sock:/var/run/docker.sock:ro \
 --volume acme:/etc/acme.sh \
 --env "DEFAULT_EMAIL=admin@$domain_name" \
 nginxproxy/acme-companion

[Install]
WantedBy=docker.service
