[Unit]
description="A service that starts the NGINX acme companion container"

[Service]
User=root
WorkingDirectory=/nextcloud
ExecStart=/bin/bash /systemd/bash-scripts/acme-companion-start.sh
Restart=always

[Install]
After=nginx-start.service
WantedBy=docker.service
