[Unit]
description="A service that creates a file system on the volume, if it does not have an existing file system"

[Service]
User=root
WorkingDirectory=/nextcloud-terraform
ExecStart=/bin/bash /format-service.sh
Restart=always

[Install]
WantedBy=local-fs.target
