[Unit]
description="A service that mounts a volume on the virtual machine"

[Service]
User=root
WorkingDirectory=/nextcloud-terraform
ExecStart=/bin/bash /bash-scripts/mount-volume.sh
Restart=always

[Install]
After=format-volume.service
WantedBy=local-fs.target
