[Unit]
Description="A service that starts the Nextcloud container"
After=acme-companion.service

[Service]
ExecStart=/usr/bin/docker run \
 --name=nextcloud \
 -e TZ=NZ \
 -p 8080:80 \
 --env "VIRTUAL_HOST=$host_name.$domain_name" \
 --env "LETSENCRYPT_HOST=$host_name.$domain_name"  \
 --volume /data/www/html:/var/www/html \
 --restart unless-stopped \
 nextcloud

[Install]
WantedBy=docker.service
