[Unit]
description="A service that starts the NGINX container"

[Service]
User=root
WorkingDirectory=/nextcloud
ExecStart=/bin/bash /systemd/nginx-start.sh
Restart=always

[Install]
Before=acme-companion.service
WantedBy=docker.service
